body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/*Tout le nécessaire pour le menu principal*/
.menu {
    display: flex;
    padding:0;
    justify-content: space-around;  /* Alignements des liens dans le menu */
    font-family: serif;
}

.menu li {
    list-style-type: none ;         /* Supprime les puces */
}

.menu a {
    display:block;
    min-width: 180px;               /* Largeur des liens*/
    padding: 7px ;
    text-align: center;
    color: black;
    text-decoration: none;          /* Supprime le soulignement des liens*/
    border: 1px solid black;
    border-radius: 20px;
    transition: all 0.5s ;
}

.menu a:hover,
.menu a:hover.actif{
    background-color: black;
    color: white;
}
/*Fin des élément du menu*/


header {
    background-color: white;
    color: white;
    text-align: center;

}

section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}


.pied_page{
    background: black;
    color: white;
    font-size: 15px;
    margin-top: 530px;
    margin-bottom: -85px;
    height: 100px;
}